
#display {
  background-color: black;
  color: white;
  font-family: monospace;
  max-width: 400px;

}

#keys {
  max-width: 400px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  background-color: black;
  
}


button {
  font-family: monospace;
  font-size: 45px;
  width: 24%;
  height: 100px;
  padding: 0;
  
}
